{% extends "layout.html" %}
    {% block body %}
        <h2>Analyser un fichier son:</h1>
    <form class="pure-form pure-form-stacked pure-form-aligned" method=post enctype=multipart/form-data>
      <label for="file">Fichier à analyser:</label>
      <input type=file name=file><br />
      <label for="winSizeInput">Taille de la fenêtre glissante (entre 1 and 10):</label>
      <input type="range" name="winSizeInput" value="5" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
      <output>5</output><br /><br />
      <label for="StartPos">Position de départ de la fenêtre:</label>
      <input type="number" name="StartPos" min="0.0" max="300.0" value="0.0" step="0.1" /><br />
      <input type=submit value=Envoyer>
    </form>
    {% endblock %}